* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #3700fe;
}

ul {
  list-style: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 320px) {
  h1 img {
    width: 60%;
    margin-top: 30px;
    margin-left: 4%;
  }

  h2 {
    font-size: 1rem;
    color: #6bfffd;
  }

  .wrapper {
    width: 90%;
    margin: 15px 5%;
    justify-content: space-between;
  }

  .recent-score {
    width: 55%;
  }

  .recent-score-header {
    justify-content: space-between;
  }

  .ranking-list-box {
    border: 2px solid #6bfffd;
    margin-top: 10px;
  }

  .ranking-list-box li {
    padding: 2px 3%;
  }

  .ranking-list-box li:nth-child(even) {
    background-color: #6bfffd;
    color: #333d25;
  }

  .ranking-list-box li:nth-child(odd) {
    color: #fffff8;
  }

  .add-your-score {
    width: 35%;
  }

  .add-score-form {
    gap: 5px;
  }

  .add-score-form input {
    height: 25px;
  }

  .add-score-form button {
    width: 50%;
    margin-left: 50%;
  }
}

@media only screen and (min-width: 768px) {
  h1 img {
    width: 50%;
  }

  .add-score-form button {
    width: 20%;
    margin-left: 80%;
  }
}

@media only screen and (min-width: 1440px) {
  h1 img {
    width: 40%;
  }

  h2 {
    font-size: 1.2rem;
  }

  .wrapper {
    width: 70%;
    margin-top: 15px;
  }
}
